<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.carList.mapper.CarListMapper">

		<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							CAR_TYPE like '%' ||#{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							CAR_CODE like '%' ||#{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getTotalCount" resultType="int">
	
	SELECT COUNT(*) FROM
	CARLIST
	WHERE
		<include refid="criteria"></include>
	CAR_NO > 0
	
	</select>
	
	<select id="getList" resultType="carListVO">
		<![CDATA[
		SELECT *
		FROM (
			SELECT
			/*+INEX_DESC(CARLIST CARLIST_PK)*/
			ROWNUM RN
			, CAR_NO
			, CAR_CODE
			, CAR_TYPE
			, CAR_DATE
			, HOUSE_INFO
			FROM CARLIST
			WHERE
			]]>
			<include refid="criteria"></include>
			<![CDATA[
			ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE RN > (#{pageNum} - 1) * #{amount}	
	]]>
	</select>
	
		<delete id="delete">
		DELETE
		FROM CARLIST
		WHERE CAR_NO=#{carNo}
	</delete>
	
	<!-- 해당 세대 차량 조회 (10/14 추가: 이나은) -->
	<select id="carByHouseInfo" resultType="carListVO" parameterType="Long">
		SELECT CAR_NO
			 , CAR_CODE
			 , CAR_TYPE
			 , CAR_DATE
			 , HOUSE_INFO 
		FROM CARLIST
		WHERE HOUSE_INFO = #{houseInfo}
	</select>
	
	<!-- 관리자 차량 등록 -->
	<insert id="insert">
		INSERT INTO CARLIST (
			CAR_NO
		  , CAR_CODE
		  , CAR_TYPE
		  , CAR_DATE
		  , HOUSE_INFO
		) VALUES (
			#{carNo}
		  , #{carCode}
		  , #{carType}
		  , SYSDATE
		  , #{houseInfo}
		)
	</insert>
	
	
	
</mapper>