<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.comm.mapper.CommMapper">
	
	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							COMM_TITLE like '%' ||#{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							COMM_CONTENT like '%' ||#{keyword} || '%'
						</when>
						<when test="type=='W'.toString()">
							ID LIKE '%' ||#{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getList" resultType="CommVO">
		<![CDATA[
		SELECT
		*
		FROM
		(
		SELECT
		/*+INDEX_DESC(COMMUNITY COMMUNITY_PK)*/
		ROWNUM RN, COMM_NO, COMM_TITLE, COMM_CONTENT,
		ID, COMM_DATE
		FROM COMMUNITY
		where
		]]>
			<include refid="criteria"></include>
		<![CDATA[ 
		ROWNUM <= #{pageNum} * #{amount} 
		)
		WHERE RN > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="read" resultType="CommVO" parameterType="CommVO"> <!-- 파라미터 타입은 생략해도 가능 resultType은 필수 -->
		SELECT COMM_NO
		,COMM_TITLE
		,COMM_CONTENT
		,ID
		,COMM_DATE
		,COMM_UPDATE
		FROM COMMUNITY
		WHERE
		COMM_NO = #{commNo}
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		COMMUNITY
		where
			<include refid="criteria"></include>
		COMM_NO > 0
	</select>
	
	<insert id="insert">

		INSERT INTO COMMUNITY(
		COMM_NO,
		COMM_TITLE,
		COMM_CONTENT,
		ID)
		VALUES (
		COMM_SEQ.NEXTVAL,
		#{commTitle},
		#{commContent},
		#{id})
	</insert>
	
	<update id="update">
		UPDATE COMMUNITY SET
		COMM_CONTENT = #{commContent},
		COMM_UPDATE =
		sysdate
		WHERE COMM_NO = #{commNo}
	</update>
	
	<!-- 댓글 수 업데이트 -->
	<update id="updateReplycnt">
		UPDATE community SET
			   REPLYCNT = REPLYCNT + #{amount}
		WHERE COMM_NO = #{commNo}
	</update>
	
	<delete id="remove">
		DELETE FROM COMMUNITY WHERE COMM_NO = #{commNo}
	</delete>
</mapper>