<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.conference.mapper.ConfMapper">

<sql id="criteria">
	<trim prefix="(" suffix=")AND" prefixOverrides="OR">
		<foreach collection="typeArr" item="type">
			<trim prefix="OR">
				<choose>
					<when test="type=='T'.toString()">
						CONF_TITLE like '%' || #{keyword} || '%'
					</when>
					<when test="type=='W'.toString()">
						CONF_WRITER like '%' || #{keyword} || '%'
					</when>
					<when test="type=='C'.toString()">
						CONF_CONTENT like '%' || #{keyword} || '%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>

<!-- 총 게시글 수 -->
<select id="getTotalCount" resultType="int">

	SELECT COUNT(*) FROM
	CONFERENCE
	WHERE
		<include refid="criteria"></include>
	CONF_NO > 0

</select>

<!-- 게시글 전체 조회 -->
<select id="getList" resultType="confVO">

	<![CDATA[
		SELECT CONF_NO
			 , CONF_TITLE
			 , CONF_CONTENT
			 , CONF_WRITER
			 , CONF_DATE
			 , CONF_UPDATE
			 , CONF_HIT
		FROM (
			SELECT 
			/*+INDEX_DESC(CONFERENCE CONFERENCE_PK)*/
			ROWNUM RN
				 , CONF_NO
				 , CONF_TITLE
				 , CONF_CONTENT
				 , CONF_WRITER
				 , CONF_DATE
				 , CONF_UPDATE
				 , CONF_HIT
			FROM CONFERENCE
			WHERE
			]]>
				<include refid="criteria"></include>
			<![CDATA[
			ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE RN > (#{pageNum} - 1) * #{amount}
	]]>
	
</select>

<!-- 게시글 단건 조회 -->
<select id="read" resultType="confVO" parameterType="confVO">
	
	SELECT CONF_NO
		 , CONF_TITLE
		 , CONF_CONTENT
		 , CONF_WRITER
		 , CONF_DATE
		 , CONF_UPDATE
		 , CONF_HIT
	FROM CONFERENCE
	WHERE CONF_NO = #{confNo}

</select>

<!-- 조회수 올리기 -->
<update id="hitCount">
	UPDATE CONFERENCE
	SET CONF_HIT = CONF_HIT + 1
	WHERE CONF_NO = #{confNo}
</update>

<!-- 게시글 등록 -->
<insert id="insert">
	<selectKey keyProperty="confNo" resultType="int" order="BEFORE">
		SELECT CONF_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	
	INSERT INTO CONFERENCE (
			CONF_NO
		  , CONF_TITLE
		  , CONF_CONTENT
		  , CONF_WRITER
		  , CONF_DATE
		  , CONF_UPDATE
	) VALUES (
			#{confNo}
		  , #{confTitle}
		  , #{confContent}
		  , #{confWriter}
		  , SYSDATE
		  , SYSDATE
	)
	
</insert>

<!-- 게시글 수정 -->
<update id="update">
	
	UPDATE CONFERENCE
	SET CONF_TITLE = #{confTitle}
	  , CONF_CONTENT = #{confContent}
	  , CONF_UPDATE = SYSDATE
	WHERE CONF_NO = #{confNo}
	
</update>

<!-- 게시글 삭제 -->
<delete id="delete">

	DELETE FROM CONFERENCE
	WHERE CONF_NO = #{confNo}
	
</delete>

<!-- 작성자 총 게시글 수 -->
<select id="totalByWriter" resultType="int">
	SELECT COUNT(*) FROM
	CONFERENCE
	WHERE
		<include refid="criteria"></include>
	CONF_WRITER = #{confWriter}
</select>

<!-- 작성자로 게시글 전체 조회 -->
<select id="listByWriter" resultType="confVO">

	<![CDATA[
		SELECT CONF_NO
			 , CONF_TITLE
			 , CONF_CONTENT
			 , CONF_WRITER
			 , CONF_DATE
			 , CONF_UPDATE
			 , CONF_HIT
		FROM (
			SELECT 
			/*+INDEX_DESC(CONFERENCE CONFERENCE_PK)*/
			ROWNUM RN
				 , CONF_NO
				 , CONF_TITLE
				 , CONF_CONTENT
				 , CONF_WRITER
				 , CONF_DATE
				 , CONF_UPDATE
				 , CONF_HIT
			FROM CONFERENCE
			WHERE 
			]]>
				<include refid="criteria"></include>
			<![CDATA[
				CONF_WRITER = #{confWriter} AND
				ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE RN > (#{pageNum} - 1) * #{amount}
	]]>
	
</select>

</mapper>