<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.energy.mapper.EnergyMapper">
	<select id="thisYear" resultType="EnergyVO">
		SELECT ${columnName}, MF_DATE
		FROM ENERGY_USAGE
		WHERE HOUSE_INFO = #{houseInfo}
			AND MF_DATE 
				BETWEEN TRUNC(TO_CHAR(ADD_MONTHS(SYSDATE,-11), 'YYMM')) 
					AND TO_CHAR(SYSDATE,'YYMM')
		ORDER BY MF_DATE
	</select>

	<select id="lastYear" resultType="EnergyVO" parameterType="EnergyVO">
		SELECT ${columnName}, MF_DATE
		FROM ENERGY_USAGE
		WHERE HOUSE_INFO = #{houseInfo}
			AND MF_DATE
				BETWEEN TRUNC(TO_CHAR(ADD_MONTHS(SYSDATE,-23), 'YYMM')) 
					AND TRUNC(TO_CHAR(ADD_MONTHS(SYSDATE,-12), 'YYMM'))
		ORDER BY MF_DATE
	</select>

	<select id="admList" resultType="EnergyVO">
		SELECT  /*+ INDEX_DESC(ENERGY_USAGE EU_IDX) */
		MF_DATE,
		TO_DATE(MF_DATE, 'YYMM') AS YEAR_MONTH,
		SUBSTR(HOUSE_INFO, 1, 3) || '동' AS DONG,
		SUBSTR(HOUSE_INFO, 4, 4) || '호' AS HOSU,
		ENG,
		GAS,
		ELECTRIC,
		WATER,
		TRASH,
		TRASH_FOOD
		FROM ENERGY_USAGE
	</select>
</mapper>