<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.admin.mapper.EventMapper">
	<resultMap type="EventVO" id="event">
		<result property="start" column="STARTDATE"/>
		<result property="end" column="ENDDATE"/>
	</resultMap>
	
	<!-- 10/09 추가 -->
	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							TITLE LIKE '%' ||#{keyword}|| '%'
						</when>
						<when test="type=='C'.toString()">
							EVENT_NO LIKE '%' ||#{keyword}|| '%'
						</when>
						<when test="type=='W'.toString()">
							STARTDATE LIKE '%' ||#{keyword}|| '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	

	<select id="getList" resultType="EventVO" resultMap="event">
		SELECT * FROM EVENT
	</select>
	
	<select id="read" resultType="EventVO">
		SELECT EVENT_NO, 
			   DESCRIPTION,
			   TITLE,
               STARTDATE,
               ENDDATE,
               TYPE,
               BACKGROUNDCOLOR,
               ALLDAY,
               USERNAME
		FROM EVENT 
		WHERE EVENT_NO = #{eventNo}
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="eventNo" resultType="long"
			order="BEFORE">
			SELECT EVENT_SEQ.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO EVENT(
		EVENT_NO,
		TITLE,
		DESCRIPTION,
		STARTDATE,
		ENDDATE,
		EVENT_UPDATE,
		TYPE,
		BACKGROUNDCOLOR,
		ALLDAY
		)
		VALUES (
		#{eventNo},
		#{title},
		#{description},
		#{start},
		#{end},
		sysdate,
		#{type},
		#{backgroundColor},
		#{result}
		)
	</insert>
	
	<update id="update">
		UPDATE EVENT SET 
		TITLE = #{title},
		DESCRIPTION = #{description},
		STARTDATE = #{start},
		ENDDATE = #{end},
		EVENT_UPDATE = sysdate,
		TYPE = #{type},
		BACKGROUNDCOLOR = #{backgroundColor},
		ALLDAY = #{result}
		WHERE EVENT_NO = #{eventNo}
	</update>
	
	<delete id="delete">
		DELETE FROM EVENT WHERE EVENT_NO = #{eventNo}
	</delete>
	
	<!-- 10/09 추가 -->
	<select id="getListview" resultType="EventVO" resultMap="event">
		SELECT
		*
		FROM
		(
		SELECT
		/*+INDEX_DESC(COMMUNITY COMMUNITY_PK)*/
		ROWNUM, EVENT_NO, 
			   DESCRIPTION,
			   TITLE,
               STARTDATE,
               ENDDATE,
               TYPE
		FROM EVENT
		WHERE
		<include refid="criteria"></include>
		<![CDATA[ 
		ROWNUM <= #{pageNum} * #{amount} 
		)
		WHERE ROWNUM > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		EVENT
		WHERE
		<include refid="criteria"></include>
		EVENT_NO > 0
	</select>
	
	
	
	
</mapper>