<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 10/06  fac_mapper 추가 -->

<mapper namespace="com.lh.app.facility.mapper.FacMapper">
	
	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							P.PAY_CAT LIKE '%' ||#{keyword}|| '%'
						</when>
						<when test="type=='C'.toString()">
							p.pay_date LIKE '%' ||#{keyword}|| '%'
						</when>
						<when test="type=='W'.toString()">
							PERIOD LIKE  '%' ||#{keyword}|| '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<select id="myFac" resultType="FacVO">
		SELECT
		*
		FROM
		(
		SELECT ROWNUM RM, PAY_CAT, PAY_DATE, PERIOD, PRICE FROM
		(SELECT P.PAY_CAT, P.PAY_DATE, L.LIB_PERIOD PERIOD, L.LIB_PRICE PRICE
		FROM PAYMENT P
		JOIN LIBRARY L
		ON (P.PAY_NO = L.PAY_NO)
		WHERE ID = #{id}
		UNION ALL
		SELECT P.PAY_CAT, P.PAY_DATE, G.GYM_PERIOD PERIOD, G.GYM_PRICE PRICE
		FROM PAYMENT P
		JOIN GYM G
		ON (P.PAY_NO = G.PAY_NO)WHERE ID = #{id})
		WHERE
		<include refid="criteria"></include>
		<![CDATA[ 
		ROWNUM <= #{pageNum} * #{amount} 
		)
		WHERE ROWNUM > (#{pageNum} -1) * #{amount}
		]]>
	</select>
		
	<select id="getTotalCount" resultType="int">
		SELECT
		count(*)
		FROM
		(
		/*+INDEX_DESC(COMMUNITY COMMUNITY_PK)*/
		SELECT ROWNUM
		RM, PAY_CAT, PAY_DATE, PERIOD, PRICE FROM
		(SELECT P.PAY_CAT, P.PAY_DATE, L.LIB_PERIOD PERIOD, L.LIB_PRICE PRICE
		FROM PAYMENT P
		JOIN LIBRARY L
		ON (P.PAY_NO = L.PAY_NO)
		WHERE ID = #{id}
		UNION ALL
		SELECT P.PAY_CAT, P.PAY_DATE, G.GYM_PERIOD PERIOD, G.GYM_PRICE PRICE
		FROM PAYMENT P
		JOIN GYM G
		ON (P.PAY_NO = G.PAY_NO) WHERE ID = #{id}))
		WHERE
		rownum > 0
	</select>
	
<!-- 10/07  fac_mapper 추가 (이나은) -->

<select id="yogaTime" resultType="gxVO">
	SELECT GX_CODE
		 , GX_TITLE
		 , GX_MON
		 , GX_TUE
		 , GX_WED
		 , GX_THU
		 , GX_FRI
	FROM GX
    WHERE SUBSTR(GX_TITLE, 1, 1) = '요'
</select>

<select id="pilTime" resultType="gxVO">
	SELECT GX_CODE
		 , GX_TITLE
		 , GX_MON
		 , GX_TUE
		 , GX_WED
		 , GX_THU
		 , GX_FRI
	FROM GX
    WHERE SUBSTR(GX_TITLE, 1, 1) = '필'
</select>

<select id="spinTime" resultType="gxVO">
	SELECT GX_CODE
		 , GX_TITLE
		 , GX_MON
		 , GX_TUE
		 , GX_WED
		 , GX_THU
		 , GX_FRI
	FROM GX
    WHERE SUBSTR(GX_TITLE, 1, 1) = '스'
</select>

<select id="gxRead" resultType="gxVO">
	SELECT GX_CODE
		 , GX_TITLE
		 , GX_MON
		 , GX_TUE
		 , GX_WED
		 , GX_THU
		 , GX_FRI
	FROM GX
	WHERE GX_CODE = #{gxCode} 
</select>

<insert id="gymInsert">
	<selectKey keyProperty="gymNo" resultType="String" order="BEFORE">
		SELECT 'gym_' || GYM_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO GYM ( 
		  GYM_NO
		, PAY_NO
		, GYM_STARTDATE
		, GX_CODE
		, GYM_PERIOD
		, GYM_PRICE 
	)
	VALUES (
		  #{gymNo}
		, #{payNo}
		, #{gymStartdate}
		, #{gxCode}
		, #{gymPeriod}
		, #{gymPrice}
	)
</insert>

<insert id="libInsert">
	<selectKey keyProperty="libNo" resultType="String" order="BEFORE">
		SELECT 'lib_' || LIB_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO LIBRARY (
		  LIB_NO
	    , PAY_NO
	    , LIB_STARTDATE
	    , LIB_PERIOD
	    , LIB_PRICE 
	)
	VALUES (
		  #{libNo}
		, #{payNo}
		, #{libStartdate}
		, #{libPeriod}
		, #{libPrice}
	)
</insert>

<insert id="payInsert">
	INSERT INTO PAYMENT (
		  PAY_NO
		, ID
		, PAY_TYPE
		, PAY_CAT
		, PAY_STATUS
	)
	VALUES (
		  #{payNo}
		, #{id}
		, #{payType}
		, #{payCat}
		, #{payStatus}
	)
</insert>


</mapper>