<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.fee.mapper.ManagementFeeMapper">

	<select id="selectFeeList" resultType="ManagementFeeVO">
		SELECT ROWNUM AS ARN,
			   MF_DATE,
			   SUBSTR(MF_DATE, 1, 2) AS YEAR,
			   CASE WHEN SUBSTR(MF_DATE, 3, 1) = '0' THEN SUBSTR(MF_DATE, 4, 1)
			   ELSE SUBSTR(MF_DATE, 3, 2)
			   END AS MONTH, 
			   HOUSE_INFO, 
			   MF_FEE, 
			   MF_HEAT, 
			   MF_ELECT,
			   MF_WATER, 
			   MF_TV, 
			   MF_CLEAN, 
			   MF_SECURITY, 
			   MF_ELEVATOR, 
			   MF_TRASH,
			   MF_TOTAL
		FROM
			(
			SELECT *
			FROM MANAGEMENT_FEE
			WHERE HOUSE_INFO = #{houseInfo}
			ORDER BY MF_DATE DESC)
	</select>
	
	<select id="selectFee" resultType="ManagementFeeVO">
		SELECT *
		FROM
			(
			SELECT ROWNUM AS ARN,
				   MF_DATE, 
				   HOUSE_INFO, 
				   MF_FEE, 
				   MF_HEAT, 
				   MF_ELECT,
				   MF_WATER, 
				   MF_TV, 
				   MF_CLEAN, 
				   MF_SECURITY, 
				   MF_ELEVATOR, 
				   MF_TRASH,
				   MF_TOTAL
			FROM
				(
				SELECT *
				FROM MANAGEMENT_FEE
				WHERE HOUSE_INFO = #{houseInfo}
				ORDER BY MF_DATE DESC)
			)
		WHERE ARN = #{arn}
	</select>
	
	<select id="selectAvg" resultType="ManagementFeeVO">
		SELECT TRUNC(AVG(MF_TOTAL)) AS MF_AVG
		FROM MANAGEMENT_FEE
	</select>

</mapper>