<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.member.mapper.MemberMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='N'.toString()">
							NAME like '%' || #{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							HOUSE_INFO like '%' || #{keyword} || '%'
						</when>
						<when test="type=='A'.toString()">
							PHONE like '%' || #{keyword} || '%'
						</when>
						<when test="type=='L'.toString()">
							POSITION = 'LEADER'
						</when>
						<when test="type=='U'.toString()">
							HOUSE_INFO IN (
							SELECT HOUSE_INFO FROM MANAGEMENT_FEE
							WHERE PAY_NO IS NULL
							)
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<sql id="admCriteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="AND">
			<foreach collection="optionArr" item="option">
				<trim prefix="AND">
					<choose>
						<when test="option=='L'.toString()">
							POSITION = 'LEADER'
						</when>
						<when test="option=='N'.toString()">
							HOUSE_INFO IN (
							SELECT HOUSE_INFO FROM MANAGEMENT_FEE
							WHERE PAY_NO IS NULL
							)
						</when>
						<when test="option=='O'.toString()">
							AUTHOR = 'OWNER'
						</when>
						<when test="option=='A'.toString()">
							HOUSE_INFO > 0
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(ROWNUM) FROM
		MEMBER
		WHERE
		<include refid="criteria"></include>
		<include refid="admCriteria"></include>
		ROWNUM > 0
	</select>

	<!-- 세대정보로 멤버 수 조회 (10/14 추가: 이나은) -->
	<select id="countByHouseInfo" resultType="int"
		parameterType="memberVO">
		SELECT COUNT(*) FROM
		MEMBER
		WHERE HOUSE_INFO =
		#{houseInfo}
	</select>

	<select id="getList" resultType="memberVO">
		<![CDATA[
		SELECT *
		FROM (
			SELECT
			/*+INDEX_DESC(MEMBER MEMBER_PK)*/
			ROWNUM RN
			, ID
			, NAME
			, PHONE
			, HOUSE_INFO
			, AUTHOR
			, KEY
			, POSITION
			FROM MEMBER
			WHERE
			]]>
		<include refid="criteria"></include>
		<include refid="admCriteria"></include>
			<![CDATA[
			ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE RN > (#{pageNum} - 1) * #{amount}
	]]>
	</select>
	
	<!-- 10/18 수정 -->
	<select id="read" resultType="MemberInfoVO">
		SELECT M.ID,
		M.PASSWORD,
		M.PHONE
		FROM MEMBER M
		JOIN GENERATION G
		ON (M.HOUSE_INFO = G.HOUSE_INFO)
		WHERE ID = #{id}
	</select>

	<select id="getListcar" resultType="MemberInfoVO">
		SELECT
		C.CAR_NO,C.CAR_TYPE,C.CAR_CODE
		FROM MEMBER M
		JOIN GENERATION G
		ON
		M.HOUSE_INFO = G.HOUSE_INFO
		JOIN CARLIST C
		ON G.HOUSE_INFO =
		C.HOUSE_INFO
		WHERE M.ID = #{id}
	</select>

	<!-- 회원 차량정보 수정 -->
	<update id="updateCar">
		UPDATE CARLIST SET
		CAR_CODE = #{carCode},
		CAR_TYPE =
		#{carType}
		WHERE
		CAR_NO = #{carNo}
	</update>

	<!-- 회원 비밀번호 수정 -->
	<update id="updatePw">
		UPDATE member SET
		password = #{password}
		WHERE id =
		#{id}
	</update>

	<!-- 회원 전화번호 수정 -->
	<update id="updatePhone">
		UPDATE MEMBER SET
		phone = #{phone}
		WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE
		FROM MEMBER
		WHERE ID=#{id}
	</delete>

	<!-- 10/05 추가 부분 -->
	<!-- 예약내역 쿼리문 2개 작성 VO명은 일치 시킬것 -->
	<select id="readlib" resultType="MemberInfoVO">
		SELECT P.PAY_NO
		, P.PAY_DATE
		,
		P.PAY_CAT
		, L.LIB_STARTDATE AS startDate
		, L.LIB_PERIOD AS period
		,
		L.LIB_PRICE AS price
		FROM
		PAYMENT P
		JOIN LIBRARY L
		ON (P.PAY_NO =
		L.PAY_NO)
		WHERE P.ID = #{id};
	</select>

	<select id="readgym" resultType="MemberInfoVO">
		SELECT P.PAY_NO
		, P.PAY_DATE
		,
		P.PAY_CAT
		, G.GYM_STARTDATE AS STARTDATE
		, G.GYM_PERIOD AS PERIOD
		,
		G.GYM_PRICE AS PRICE
		FROM
		PAYMENT P
		JOIN GYM G
		ON (P.PAY_NO = G.PAY_NO)
		WHERE P.ID = #{id};
	</select>

	<!-- position 수정 (10/13 추가: 이나은) -->
	<update id="updatePosition">
		UPDATE MEMBER
		SET POSITION = #{position}
		WHERE ID =
		#{id}
	</update>

</mapper>