<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.member.mapper.MemberMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							ID like '%' ||#{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							HOUSE_INFO like '%' ||#{keyword} || '%'
						</when>
						<when test="type=='A'.toString()">
							PHONE like '%' ||#{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 10/04 수정 시작 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(ROWNUM) FROM
		MEMBER
		WHERE
		<include refid="criteria"></include>
		ROWNUM > 0
	</select>
	<!-- 10/04 수정 끝 -->
	
	<select id="getList" resultType="memberVO">
		<![CDATA[
		SELECT *
		FROM (
			SELECT
			/*+INDEX_DESC(MEMBER MEMBER_PK)*/
			ROWNUM RN
			, ID
			, NAME
			, PHONE
			, HOUSE_INFO
			, AUTHOR
			, KEY
			FROM MEMBER
			WHERE
			]]>
		<include refid="criteria"></include>
			<![CDATA[
			ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE RN > (#{pageNum} - 1) * #{amount}
	]]>
	</select>
	
	<!-- 10/04추가 -->
	<select id="read" resultType="MemberVO">
		SELECT DISTINCT M.ID, M.PHONE, M.PASSWORD,
        LISTAGG(C.CAR_CODE, '/') WITHIN GROUP (ORDER BY C.CAR_CODE) OVER(PARTITION BY C.HOUSE_INFO) AS CARCODE
        , LISTAGG(C.CAR_TYPE, '/') WITHIN GROUP (ORDER BY C.CAR_TYPE) OVER(PARTITION BY C.HOUSE_INFO) AS CARTYPE
		FROM MEMBER M
		JOIN GENERATION G 
		ON M.HOUSE_INFO = G.HOUSE_INFO
		JOIN CARLIST C
		ON G.HOUSE_INFO = C.HOUSE_INFO
		WHERE M.ID = #{id}
	</select>
	<!-- 끝 -->
	
	<delete id="delete">
		DELETE
		FROM MEMBER
		WHERE ID=#{id}
	</delete>


</mapper>