<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.opeInfo.mapper.OpeInfoMapper">


<sql id="criteria">
	<trim prefix="(" suffix=")AND" prefixOverrides="OR">
		<foreach collection="typeArr" item="type">
			<trim prefix="OR">
				<choose>
					<when test="type=='T'.toString()">
						OI_TITLE like '%' || #{keyword} || '%'
					</when>
					<when test="type=='C'.toString()">
						OI_TYPE like '%' || #{keyword} || '%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>

<!-- 총 게시글 수 -->
<select id="getTotalCount" resultType="int">
	
	SELECT COUNT(*) FROM
	OPERATION_INFO
	WHERE
		<include refid="criteria"></include>
	OI_NO > 0
	
</select>

<!-- 게시글 전체 조회 -->
<select id="getList" resultType="opeInfoVO">
	<![CDATA[
		SELECT OI_NO
			 , OI_TYPE
			 , OI_TITLE
			 , OI_CONTENT
			 , OI_DATE
			 , OI_UPDATE
			 , OI_FILENAME
			 , OI_FILEID
			 , OI_FILEPATH
		FROM (
			SELECT
			/*+INDEX_DESC(OPERATION_INFO OI_PK)*/
			ROWNUM RN
				 , OI_NO
				 , OI_TYPE
				 , OI_TITLE
				 , OI_CONTENT
				 , OI_DATE
				 , OI_UPDATE
				 , OI_FILENAME
				 , OI_FILEID
				 , OI_FILEPATH
			FROM OPERATION_INFO
			WHERE
			]]>
				<include refid="criteria"></include>
			<![CDATA[
			ROWNUM <= #{pageNum} * #{amount}
		)
		WHERE RN > (#{pageNum} - 1) * #{amount}
	]]>
</select>

<!-- 게시글 단건 조회 -->
<select id="read" resultType="opeInfoVO" parameterType="opeInfoVO">
	
	SELECT OI_NO
		 , OI_TYPE
		 , OI_TITLE
		 , OI_CONTENT
		 , OI_DATE
		 , OI_UPDATE
		 , OI_FILENAME
		 , OI_FILEID
		 , OI_FILEPATH
	FROM OPERATION_INFO
	WHERE OI_NO = #{oiNo}
	
</select>

<!-- 게시글 첨부파일 아이디로 단건 조회 -->
<select id="readByFileid" resultType="opeInfoVO" >

	SELECT OI_NO
		 , OI_TYPE
		 , OI_TITLE
		 , OI_CONTENT
		 , OI_DATE
		 , OI_UPDATE
		 , OI_FILENAME
		 , OI_FILEID
		 , OI_FILEPATH
	FROM OPERATION_INFO
	WHERE OI_FILEID = #{oiFileid}
	
</select>

<!-- 게시글 등록 -->
<insert id="insert">
	<selectKey keyProperty="oiNo" resultType="int" order="BEFORE">
		SELECT OI_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	
	INSERT INTO OPERATION_INFO (
		   OI_NO
		 , OI_TYPE
		 , OI_TITLE
		 , OI_CONTENT
		 , OI_DATE
		 , OI_UPDATE
		 , OI_FILENAME
		 , OI_FILEID
		 , OI_FILEPATH
	) VALUES (
		   #{oiNo}
		 , #{oiType}
		 , #{oiTitle}
		 , #{oiContent}
		 , SYSDATE
		 , SYSDATE
		 , #{oiFilename}
		 , #{oiFileid}
		 , #{oiFilepath}
	)
</insert>

<!-- 게시글 수정 -->
<update id="update">
	UPDATE OPERATION_INFO
	SET OI_TYPE = #{oiType}
	  , OI_TITLE = #{oiTitle}
	  , OI_CONTENT = #{oiContent}
	  , OI_UPDATE = SYSDATE
	  , OI_FILENAME = #{oiFilename}
	  , OI_FILEID = #{oiFileid}
	  , OI_FILEPATH = #{oiFilepath}
	WHERE OI_NO = #{oiNo}
</update>

<!-- 게시글 삭제 -->
<delete id="delete">
	DELETE FROM OPERATION_INFO
	WHERE OI_NO = #{oiNo}
</delete>

<!-- 첨부파일 삭제 -->
<update id="deleteFile">
	UPDATE OPERATION_INFO
	SET OI_FILENAME = ''
	  , OI_FILEID = ''
	  , OI_FILEPATH = ''
	WHERE OI_NO = #{oiNo}
</update>

</mapper>