<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.admin.mapper.PostMapper">
<!-- 10/11 추가 -->

	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							HOUSE_INFO LIKE '%' ||#{keyword}|| '%'
						</when>
						<when test="type=='C'.toString()">
							POST_DATE LIKE '%' ||#{keyword}|| '%'
						</when>
						<when test="type=='W'.toString()">
							POST_STATUS '%' ||#{keyword}|| '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getList" resultType="PostVO">
		SELECT
		*
		FROM
		(
		SELECT
		/*+INDEX_DESC(POST POST_PK)*/
		ROWNUM RN, 
		POST_NO, 
		HOUSE_INFO, 
		POST_STATUS,
		POST_DATE, 
		NAME <!-- name 추가 -->
		FROM POST
		WHERE
		<include refid="criteria"></include>
		<![CDATA[ 
		ROWNUM <= #{pageNum} * #{amount} 
		)
		WHERE RN > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		POST
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="postNo" resultType="long" order="BEFORE">
			SELECT
			POST_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO POST(
			POST_NO,HOUSE_INFO,NAME)
		VALUES(
			#{postNo}	
			,#{houseInfo}
			,#{name}
		)
	</insert>
	
	<update id="update">
		UPDATE POST SET 
		POST_STATUS = 'Y'
		WHERE POST_NO = #{postNo}
	</update>
	
	<delete id="delete">
		DELETE FROM POST
		WHERE POST_NO = #{postNo} 
	</delete>
	
</mapper>