<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.app.admin.mapper.PostMapper">

	<!-- 10/13 post_status 수정 -->
	<sql id="criteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type==''.toString()">
						</when>
						<when test="type=='T'.toString()">
							HOUSE_INFO = #{keyword}
						</when>
						<when test="type=='Y'.toString()">
							POST_STATUS = 'Y'
						</when>
						<when test="type=='N'.toString()">
							POST_STATUS = 'N'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<sql id="datecriteria">
		<trim prefix="(" suffix=")AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="startDate!='' and endDate==''">
							(POST_DATE = #{startDate})
						</when>
						<when test="endDate!='' and startDate==''">
							(POST_DATE = #{endDate})
						</when>
						<when test="startDate!='' and endDate!=''">
							(POST_DATE BETWEEN TO_DATE(#{startDate},'YYYY-MM-DD')
							AND TO_DATE(#{endDate},'YYYY-MM-DD'))
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 10/13 조건추가 -->
	<select id="getList" resultType="PostVO">
		SELECT
		*
		FROM
		(
		SELECT
		/*+INDEX_DESC(POST POST_PK)*/
		ROWNUM RN,
		POST_NO,
		HOUSE_INFO,
		POST_STATUS,
		POST_DATE,
		NAME <!-- name 추가 -->
		FROM POST
		WHERE
		<include refid="criteria"></include>
		<include refid="datecriteria"></include>
		<trim prefix="(" suffix=")AND">
			<if test="type =='T,Y'">
				POST_STATUS = 'Y'
				AND
				HOUSE_INFO = #{keyword}
			</if>
			<if test="type =='T,N'">
				POST_STATUS = 'N'
				AND
				HOUSE_INFO = #{keyword}
			</if>
		</trim>
		<![CDATA[ 
		ROWNUM <= #{pageNum} * #{amount} 
		)
		WHERE RN > (#{pageNum} -1) * #{amount}
		]]>
	</select>

	<!-- 10/13 조건추가 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM POST
		WHERE
		<trim prefix="(" suffix=")AND">
			<if test="type =='T,Y'">
				POST_STATUS = 'Y'
				AND
				HOUSE_INFO = #{keyword}
			</if>
			<if test="type =='T,N'">
				POST_STATUS = 'N'
				AND
				HOUSE_INFO = #{keyword}
			</if>
		</trim>
		<include refid="datecriteria"></include>
		<include refid="criteria"></include>
		ROWNUM > 0
	</select>

	<!-- 10/12 추가 -->
	<select id="readPhone" resultType="PostVO">
		SELECT PHONE FROM MEMBER
		WHERE
		HOUSE_INFO = #{houseInfo} AND NAME = {name};
	</select>

	<insert id="insert">
		<selectKey keyProperty="postNo" resultType="long"
			order="BEFORE">
			SELECT
			POST_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO POST(
		POST_NO,HOUSE_INFO,NAME)
		VALUES(
		#{postNo}
		,#{houseInfo}
		,#{name}
		)
	</insert>

	<update id="update">
		UPDATE POST SET
		POST_STATUS = 'Y'
		WHERE POST_NO =
		#{postNo}
	</update>

	<delete id="delete">
		DELETE FROM POST
		WHERE POST_NO = #{postNo}
	</delete>

</mapper>